<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>controller.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>process</servlet-name>
        <servlet-class>controller.processServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>popular_1_name</param-name>
        <param-value>Overwatch</param-value>
    </context-param>
    <context-param>
        <param-name>popular_1_img</param-name>
        <param-value>https://assets-prd.ignimgs.com/2022/06/23/overwatch-2-button-fin-1656022954568.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>popular_1_price</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <param-name>popular_2_name</param-name>
        <param-value>Valorant</param-value>
    </context-param>
    <context-param>
        <param-name>popular_2_img</param-name>
        <param-value>https://m.media-amazon.com/images/M/MV5BNmNhM2NjMTgtNmIyZC00ZmVjLTk4YWItZmZjNGY2NThiNDhkXkEyXkFqcGdeQXVyODU4MDU1NjU@._V1_.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>popular_2_price</param-name>
        <param-value>50</param-value>
    </context-param>
    <context-param>
        <param-name>popular_3_name</param-name>
        <param-value>Minecraft</param-value>
    </context-param>
    <context-param>
        <param-name>popular_3_img</param-name>
        <param-value>https://assets-prd.ignimgs.com/2021/12/14/minecraft-1639513933156.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>popular_3_price</param-name>
        <param-value>200</param-value>
    </context-param>
    <context-param>
        <param-name>popular_4_name</param-name>
        <param-value>GTA V</param-value>
    </context-param>
    <context-param>
        <param-name>popular_4_img</param-name>
        <param-value>https://hips.hearstapps.com/digitalspyuk.cdnds.net/13/14/gaming-gta5-cover.jpeg</param-value>
    </context-param>
    <context-param>
        <param-name>popular_4_price</param-name>
        <param-value>150</param-value>
    </context-param>
    <context-param>
        <param-name>popular_5_name</param-name>
        <param-value>Fortnite</param-value>
    </context-param>
    <context-param>
        <param-name>popular_5_img</param-name>
        <param-value>https://assets1.ignimgs.com/2018/03/06/fortnite---button-1520296499714.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>popular_5_price</param-name>
        <param-value>300</param-value>
    </context-param>
    <context-param>
        <param-name>new_1_name</param-name>
        <param-value>Learning Factory</param-value>
    </context-param>
    <context-param>
        <param-name>new_1_img</param-name>
        <param-value>https://cdn1.epicgames.com/spt-assets/404ba51e87854be9a9c78dd9463a6183/learning-factory-11zgy.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>new_1_price</param-name>
        <param-value>300</param-value>
    </context-param>
    <context-param>
        <param-name>new_2_name</param-name>
        <param-value>Space Haste 2</param-value>
    </context-param>
    <context-param>
        <param-name>new_2_img</param-name>
        <param-value>https://cdn1.epicgames.com/spt-assets/74e00ede2ee448f8a05367edfe381c1b/sapce-haste-2-8f4kh.png</param-value>
    </context-param>
    <context-param>
        <param-name>new_2_price</param-name>
        <param-value>350</param-value>
    </context-param>
    <context-param>
        <param-name>new_3_name</param-name>
        <param-value>Wild Earth - Africa</param-value>
    </context-param>
    <context-param>
        <param-name>new_3_img</param-name>
        <param-value>https://cdn1.epicgames.com/spt-assets/35fc4fe5ae3b447395ed440ea01de788/wild-earth--africa-1w3k2.png</param-value>
    </context-param>
    <context-param>
        <param-name>new_3_price</param-name>
        <param-value>400</param-value>
    </context-param>
    <context-param>
        <param-name>new_4_name</param-name>
        <param-value>Soccer Story</param-value>
    </context-param>
    <context-param>
        <param-name>new_4_img</param-name>
        <param-value>https://cdn1.epicgames.com/spt-assets/189273af0926444ba7f920d410215696/download-soccer-story-offer-19zsd.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>new_4_price</param-name>
        <param-value>450</param-value>
    </context-param>
    <context-param>
        <param-name>new_5_name</param-name>
        <param-value>Fire Commander</param-value>
    </context-param>
    <context-param>
        <param-name>new_5_img</param-name>
        <param-value>https://cdn1.epicgames.com/spt-assets/e72c116d0bfa48348d08dc9fc78b1a4a/download-fire-commander-offer-1w7lt.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>new_5_price</param-name>
        <param-value>500</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
</web-app>
